{% extends 'navbar.html' %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
            </div>
            {% if request.user.is_superuser %}
            <div class="modal-body">
              Are you sure want to delete "{{mymember}}"?
            </div>
            {% else %}
            <div class="modal-body">
                Opps! Only admin can delete. If you want to delete, please contact me. 
              </div>
            {% endif %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              {% if request.user.is_superuser %}
              <form action="" method="POST">
                {% csrf_token %}
              <input type="submit" class="btn btn-primary" value="Delete">
                </form>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if request.user.is_superuser %}
    <a href="{% url 'edit' id=mymember.id%}" class="btn btn-primary">Edit</a>
    {% endif %}


<h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
<table class="table table-borderless table-hover">
<tr>
    <th class="col-2">Phone number +60</th>
    <th class="col-2">Member since UTC+0</th>
    <th class="col-5">Comments</th>
    <th class="col-1">Anonymous</th>
</tr>
<tr>
    {% if mymember.anonymous %}
    <td class="col-2" style="text-align-last: center;"> <i> {{ mymember.firstname }} does not want to share phone number </i></td>
    {% else %}
    {% if mymember.phone %}
    <td class="col-2">+60 {{ mymember.phone }}</td>
    {% else %}
    <td class="col-2" style="text-align-last: center;"><i> This user did not share phone number. </i> </td>
    {% endif %}
    {% endif %}
    <td class="col-2">{{ mymember.created }}</td>
    {% if mymember.description %}
    <td class="col-5">{{ mymember.description }}</td>
    {% else %}
    <td class="col-5" style="text-align-last: center;"><i> This user did not make any comments. </i> </td>
    {% endif %}
    <td class="col-2">{{ mymember.anonymous }}</td>
</tr>
</table>
<p>Back to <a href="/members" class="btn btn-secondary">Members</a></p>
</div>
{% include 'contact_details.html' %} 
{% endblock %}